@page
@model Quacker.Web.Pages.UserProfileModel
@{
}

<div class="row">
    <div class="col-12">
        @if (Model.IsItOwnProfile)
        {
            <!-- PROFILE HEADER -->
            <div class="qw-profile-header p-3">
                @if (Model.Profile.HasImage)
                {
                    <img class="qw-lg-profile" src="/imgs/users/@(Model.Profile.Id).jpg">
                }
                else
                {
                    <img class="qw-lg-profile" src="/imgs/default.jpg">
                }
                <h3 class="qw-user-name">@Model.Profile.DisplayName</h3>
                <div class="qw-user-followers">@Model.Profile.NumberOfFollowers followers</div>
            </div>
            <!-- CREATE NEW POST -->
            <h3>Create new post</h3>
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="qw-add-post p-3 my-3">
                @if (Model.Profile.HasImage)
                {
                    <img class="qw-sm-profile" src="/imgs/users/@(Model.Profile.Id).jpg">
                }
                else
                {
                    <img class="qw-sm-profile" src="/imgs/default.jpg">
                }
            <form asp-page-handler="CreatePost" method="post" enctype="multipart/form-data" role="form">
                <input type="hidden" asp-for="NewPost.UserId" />
                <textarea class="form-control" id="your-post" rows="3" asp-for="NewPost.Content"></textarea>
                <span asp-validation-for="NewPost.Content" class="text-danger"></span>

                <div class="form-group mt-2">
                    <label asp-for="CoverImage">Add image</label>
                    <input asp-for="CoverImage" type="file">
                </div>

                <div class="d-flex flex-row justify-content-end mt-2">
                    <button type="submit" class="btn btn-primary">Post</button>
                </div>
            </form>
            </div>
        }
        else
        {
            <div class="qw-profile-header p-3">
                @if (Model.Profile.HasImage)
                {
                    <img class="qw-lg-profile" src="/imgs/users/@(Model.Profile.Id).jpg">
                }
                else
                {
                    <img class="qw-lg-profile" src="/imgs/default.jpg">
                }
                <h3 class="qw-user-name">@Model.Profile.DisplayName</h3>
                <div class="qw-user-followers">@Model.Profile.NumberOfFollowers followers</div>
                <div class="qw-user-buttons">
                    <span>
                        @if (!Model.Profile.isFollowedByCurrentUser)
                        {
                            <form asp-page-handler="Follow">
                                <input type="hidden" asp-for="UserId" name="id" />
                                <button type="submit" class="btn btn-primary ml-3">Follow</button>
                            </form>
                        }
                        else
                        {
                            <form asp-page-handler="Unfollow">
                                <input type="hidden" asp-for="UserId" name="id" />
                                <button type="submit" class="btn btn-secondary ml-3">Unfollow</button>
                            </form>
                        }
                        <a asp-page="/User/Messages" asp-route-id="@Model.Profile.Id" class="btn btn-primary ml-3 my-1">
                            Direct message
                        </a>
                    </span>
                </div>
            </div>
        }
        <hr>
        <!-- POSTS -->
        <ul class="qw-posts mt-2">
            @if (Model.Posts.AllResultsCount == 0)
            {
                <div class="d-flex justify-content-center" style="width: 100%;">
                    <div class="text-muted">No quacks yet!</div>
                </div>
            }
            @foreach (var post in Model.Posts.Results)
            {
                <li class="qw-post p-3 qw-clickable-card mb-3">
                    <a class="qw-post-link" asp-page="/Post" asp-route-id="@post.Id"></a>
                    <vc:post post="post" is-deletable="@Model.CanCurrentUserDelete" user-id="@Model.UserId" delete-post-id="@Model.DeletePostId">
                    </vc:post>
                </li>
            }
        </ul>

    </div>
</div>
<div class="row mt-5">
    <div class="col-12">
        <vc:pager page-size="Model.Posts.PageSize"
                  page-number="Model.Posts.PageNumber"
                  all-results-count="Model.Posts.AllResultsCount"
                  pages-to-show="3">
        </vc:pager>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}