@page
@model Quacker.Web.Pages.User.HomeModel
@using Humanizer; 
@{
    ViewData["Title"] = "Home";
}

<div class="row">
    <!-- PEOPLE YOU FOLLOW -->
    <div class="col-md-3">
        <h4>
            People you follow
        </h4>

        <ul class="qw-follow-list">
            @foreach (var user in Model.FollowedUsers)
            {
                <li class="mt-2">
                    <a asp-page="/Profile" asp-route-id="@user.Id">
                        @if (user.HasImage)
                        {
                            <img class="qw-sm-profile" src="/imgs/users/@(user.Id).jpg">
                        }
                        else
                        {
                            <img class="qw-sm-profile" src="/imgs/default.jpg">
                        }
                        @user.DisplayName
                    </a>
                </li>
            }
        </ul>

    </div>
    <div class="col-md-9">
        <h3 class="pl-3">
            Home
        </h3>
        @*<h4 class="pl-3">
            @Model.Posts.AllResultsCount result found
        </h4>*@
        <ul class="qw-posts mt-4">
            @foreach (var post in Model.Posts.Results)
            {
                <li class="qw-post p-3 qw-clickable-card mb-3">
                    <a class="qw-post-link" asp-page="/Post" asp-route-id="@post.Id"></a>
                    <div class="qw-post-header">
                        @if (post.Author.HasImage)
                        {
                            <img class="qw-sm-profile" src="/imgs/users/@(post.Author.Id).jpg">
                        }
                        else
                        {
                            <img class="qw-sm-profile" src="/imgs/default.jpg">
                        }
                        <a asp-page="/Profile" asp-route-id="@post.Author.Id" class="qw-post-author">@post.Author.DisplayName</a>
                        <div class="qw-post-date">@post.CreationDate.Humanize()</div>
                    </div>

                    <div class="qw-post-content">
                        @post.Content
                        @if (post.HasImage)
                        {
                            <img src="/imgs/posts/@post.Author.Id/@(post.Id).jpg">
                        }
                    </div>


                    <div class="qw-post-footer mt-2">
                        <div class="qw-post-breads">
                            <a class="qw-post-breads-btn" href="" data-ajax="true" data-ajax-method="post">Click here</a>
                            @if(post.HasCurrentUserLikedIt)
                            {
                                <i class="fas fa-bread-slice fa-lg active"></i>
                            } else
                            {
                                <i class="fas fa-bread-slice fa-lg"></i>
                            }
                            @post.NumberOfLikes
                        </div>
                        <div class="qw-post-comments">
                            <i class="fas fa-comment fa-lg"></i>
                            @post.NumberOfComments
                        </div>
                    </div>
                </li>
            }
        </ul>

    </div>
</div>
<div class="row mt-5">
    <div class="col-12">
        <vc:pager page-size="Model.Posts.PageSize"
                  page-number="Model.Posts.PageNumber"
                  all-results-count="Model.Posts.AllResultsCount"
                  pages-to-show="3">
        </vc:pager>
    </div>
</div>